@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #159A9C,#B4BEC9);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #159a9c9a;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color: #159A9C;
text-align: center;
text-shadow: 1px 1px 2px #0f7072af;
}

h2{
color: #002333;
}

p {
    text-align: justify;
}